<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="ggeiszle@microsoft.com" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineUrl" value="https://apps.preview.powerapps.com/play/7e27b72b-70e1-4ea8-9664-5172485e3360?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AzureKey" value="" />
    <add key="AppId" value="" />
    <!-- IE,Chrome,Firefox,Edge-->
    <add key="BrowserType" value="Chrome"/>
  </appSettings>
</configuration>
