<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="darent@scolsoncrm.onmicrosoft.com"/>
    <add key="OnlinePassword" value="Dtrtkt11!!,,"/>
    <add key="OnlineCrmUrl" value="https://easyrepro.crm.dynamics.com"/>
    <add key="AzureKey" value="43ba271b-6689-481e-b91f-a4a5c36a7924"/>
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome"/>
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome"/>
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
